{
    padding: o;
    margin: o;
}

body{
    height: 500vh;
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

square{
    position: fixed;
    background-color: deepskyblue;
}